<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th (click)="sort('deviceName')">Device Name</th>
                            <th (click)="sort('tenant')">Tenant</th>
                            <th (click)="sort('dateAdded')">Date Added</th>
                            <th (click)="sort('simCardId')">SIM Card Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let device of devices;trackBy:trackby.device">
                            <td>
                                <img src="images/device.jpg"
                                     class="card-image" alt="Device Image" />
                            </td>
                            <td><a [routerLink]="['/devices',device.id]">{{ device.deviceName }}</a></td>
                            <td>{{ device.tenant }}</td>
                            <td>{{ device.dateAdded }}</td>
                            <td><a [routerLink]="['/simcards', device.simCardId]">{{ device.simCardId }}</a></td>
                        </tr>
                        <tr *ngIf="!devices.length">
                            <td>&nbsp;</td>
                            <td colspan="6">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
