<div>
  <header>
      <h3>
          <span class="glyphicon glyphicon-user"></span>
          {{ device.deviceName }}
      </h3>
  </header>
  <br />
  <form [formGroup]="deviceForm" (ngSubmit)="submit(deviceForm)" class="editForm" novalidate>
      <div class="form-group">
          <label>Device Name</label>
          <input type="text" class="form-control" formControlName="deviceName" />
          <div class="alert alert-danger" [hidden]="deviceForm.controls.deviceName.untouched || deviceForm.controls.deviceName.valid">Device Name is required</div>
      </div>
      <div class="form-group">
          <label>Tenant</label>
          <input type="number" class="form-control" formControlName="tenant">
          <div class="alert alert-danger" [hidden]="deviceForm.controls.tenant.untouched || deviceForm.controls.tenant.valid">Tenant is required</div>
      </div>

      <div class="form-group">
          <label>Date Added</label>
          <input type="datetime" class="form-control" formControlName="dateAdded" />
          <div class="alert alert-danger" [hidden]="deviceForm.controls.dateAdded.untouched || deviceForm.controls.dateAdded.valid">Date Added is required</div>
      </div>
      <div class="form-group">
          <label>SIM Card Id</label>
          <input type="number" class="form-control" formControlName="simCardId">
          <div class="alert alert-danger" [hidden]="deviceForm.controls.simCardId.untouched || deviceForm.controls.simCardId.valid">SIM Card Id is required</div>
      </div>

      <br />

      <div *ngIf="device">
          <div class="alert alert-warning" *ngIf="device.id && deleteMessageEnabled">
              Delete Device?&nbsp;&nbsp;<button class="btn btn-danger" (click)="delete($event)">Yes</button>&nbsp;&nbsp;
              <button class="btn btn-default" (click)="deleteMessageEnabled = false">No</button>
          </div>
          <button class="btn btn-danger" *ngIf="device.id && !deleteMessageEnabled" (click)="deleteMessageEnabled = true">Delete</button>&nbsp;&nbsp;

          <div class="pull-right" *ngIf="!deleteMessageEnabled">
              <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
              <button type="submit" class="btn btn-success" [disabled]="!deviceForm.valid">{{ operationText }}</button>
          </div>
      </div>
      <br />
      <br />
      <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>

  </form>
</div>